@font-face {
  font-family: 'Font';
  src: url('assets/WesternBangBang.otf') format('woff2'),
       url('assets/WesternBangBang.otf') format('woff');
}

@media screen and (width: 1600px) {
  .HudContainer { color: white; font-family: Font; font-size: 21px; }
  .Background { opacity: 0.8; position: fixed; width: 350px; height: 75px; left: -2%; bottom: -2.2%; }
  .BankIMG { opacity: 0.6; position: fixed; width: 22px; height: 22px; left: 1.6%; bottom: 0.5%; z-index: 2; }
  .MoneyIMG { opacity: 0.6; position: fixed; width: 22px; height: 22px; left: 6.2%; bottom: 0.7%; z-index: 2; }
  .CharIDIMG { opacity: 0.6; position: fixed; width: 20px; height: 18px; left: 11.2%; bottom: 1%; z-index: 2; }
  .ServerIDIMG { opacity: 0.6; position: fixed; width: 20px; height: 18px; left: 14.2%; bottom: 1%; z-index: 2; }
  #BankValue { opacity: 0.6; position: fixed; left: 3.3%; bottom: 0.5%; }
  #MoneyValue { opacity: 0.6; position: fixed; left: 8.1%; bottom: 0.6%; }
  #CharIDValue { opacity: 0.6; position: fixed; left: 12.9%; bottom: 0.6%; }
  #ServerIDValue { opacity: 0.6; position: fixed; left: 16%; bottom: 0.6%; }
}

@media screen and (width: 1768px) {
  .HudContainer { color: white; font-family: Font; font-size: 21px; }
  .Background { opacity: 0.8; position: fixed; width: 420px; height: 80px; left: -2.5%; bottom: -2.2%; }
  .BankIMG { opacity: 0.6; position: fixed; width: 22px; height: 22px; left: 1.4%; bottom: 0.65%; z-index: 2; }
  .MoneyIMG { opacity: 0.6; position: fixed; width: 20px; height: 22px; left: 6.3%; bottom: 0.7%; z-index: 2; }
  .CharIDIMG { opacity: 0.6; position: fixed; width: 20px; height: 18px; left: 11.2%; bottom: 0.9%; z-index: 2; }
  .ServerIDIMG { opacity: 0.6; position: fixed; width: 20px; height: 18px; left: 15%; bottom: 0.9%; z-index: 2; }
  #BankValue { opacity: 0.6; position: fixed; left: 3%; bottom: 0.6%; }
  #MoneyValue { opacity: 0.6; position: fixed; left: 7.8%; bottom: 0.6%; }
  #CharIDValue { opacity: 0.6; position: fixed; left: 13.2%; bottom: 0.6%; }
  #ServerIDValue { opacity: 0.6; position: fixed; left: 17%; bottom: 0.6%; }
}

@media screen and (width: 1920px) {
  .HudContainer { color: white; font-family: Font; font-size: 25px; }
  .Background { opacity: 0.8; position: fixed; width: 420px; height: 90px; left: -2%; bottom: -2.2%; }
  .BankIMG { opacity: 0.6; position: fixed; width: 25px; height: 25px; left: 1.4%; bottom: 0.65%; z-index: 2; }
  .MoneyIMG { opacity: 0.6; position: fixed; width: 24px; height: 24px; left: 6.2%; bottom: 0.8%; z-index: 2; }
  .CharIDIMG { opacity: 0.6; position: fixed; width: 20px; height: 18px; left: 11.2%; bottom: 1.15%; z-index: 2; }
  .ServerIDIMG { opacity: 0.6; position: fixed; width: 20px; height: 18px; left: 14.2%; bottom: 1.20%; z-index: 2; }
  #BankValue { opacity: 0.6; position: fixed; left: 3.1%; bottom: 0.6%; }
  #MoneyValue { opacity: 0.6; position: fixed; left: 7.9%; bottom: 0.6%; }
  #CharIDValue { opacity: 0.6; position: fixed; left: 12.8%; bottom: 0.6%; }
  #ServerIDValue { opacity: 0.6; position: fixed; left: 15.9%; bottom: 0.6%; }
}

@media screen and (width: 2560px) {
  .HudContainer { color: white; font-family: Font; font-size: 25px; }
  .Background { opacity: 0.8; position: fixed; width: 420px; height: 90px; left: -1%; bottom: -2.2%; }
  .BankIMG { opacity: 0.6; position: fixed; width: 25px; height: 25px; left: 1.4%; bottom: 0.65%; z-index: 2; }
  .MoneyIMG { opacity: 0.6; position: fixed; width: 24px; height: 24px; left: 5%; bottom: 0.8%; z-index: 2; }
  .CharIDIMG { opacity: 0.6; position: fixed; width: 20px; height: 18px; left: 8.8%; bottom: 1.15%; z-index: 2; }
  .ServerIDIMG { opacity: 0.6; position: fixed; width: 20px; height: 18px; left: 11%; bottom: 1.20%; z-index: 2; }
  #BankValue { opacity: 0.6; position: fixed; left: 2.8%; bottom: 0.6%; }
  #MoneyValue { opacity: 0.6; position: fixed; left: 6.3%; bottom: 0.6%; }
  #CharIDValue { opacity: 0.6; position: fixed; left: 10%; bottom: 0.6%; }
  #ServerIDValue { opacity: 0.6; position: fixed; left: 12.3%; bottom: 0.6%; }
}

@media screen and (width: 3840px) {
  .HudContainer { color: white; font-family: Font; font-size: 25px; }
  .Background { opacity: 0.8; position: fixed; width: 420px; height: 90px; left: -1%; bottom: -2.2%; }
  .BankIMG { opacity: 0.6; position: fixed; width: 25px; height: 25px; left: 1.4%; bottom: 0.65%; z-index: 2; }
  .MoneyIMG { opacity: 0.6; position: fixed; width: 24px; height: 24px; left: 5%; bottom: 0.8%; z-index: 2; }
  .CharIDIMG { opacity: 0.6; position: fixed; width: 20px; height: 18px; left: 8.8%; bottom: 1.15%; z-index: 2; }
  .ServerIDIMG { opacity: 0.6; position: fixed; width: 20px; height: 18px; left: 11%; bottom: 1.20%; z-index: 2; }
  #BankValue { opacity: 0.6; position: fixed; left: 2.8%; bottom: 0.6%; }
  #MoneyValue { opacity: 0.6; position: fixed; left: 6.3%; bottom: 0.6%; }
  #CharIDValue { opacity: 0.6; position: fixed; left: 10%; bottom: 0.6%; }
  #ServerIDValue { opacity: 0.6; position: fixed; left: 12.3%; bottom: 0.6%; }
}
